{% extends "base.html" %}
{% block title %} Calculator Page v2 {% endblock %}

<div style="margin: 0 auto; width: 50%;">
    {% block content %}

    <div class="card text-center" style="color: rgb(57, 8, 51); background-color: rgb(145, 191, 207); border-width: 3px; border-color: black; margin: 20px">
        <div class="card-body">
            <h5 class="card-title">{{record['wins']}} - {{record['losses']}} </h5>
            <h6 class="card-subtitle mb-2 text-muted">Current Record</h6>
            <p>This calculator is taking into account all bets were placed at a .909090 (-110) multiplier.</p>

            <form action="#" method="POST">
                <div class="form-group">
                    <label for="unit_price">Enter your base monetary unit in USD:</label></br>
            </br>
                    <input type="number" class="form-control" id="unit_price" name="unit_price" min="0.00" value="0">
                </div>
            </br>
            <button type="submit" class="btn btn-primary" style="background-color: green;">Submit</button>
            </form>

            <!--Shows they are up if solution is positive, shows they are down if negative, add Red&Green for each, is_positive passed from calculator definition in server.py-->
            {% if is_positive %}
            <h1>You would be up: </h1>
            <h1 style="color: green;"> ${{solution}}</h1>
            {% else %}
            <h1>You would be down: </h1>
            <h1 style="color: red;"> ${{solution}} </h1>
            {% endif %}
        </div>
    </div>

    {% endblock %}
</div>
